/* ---------------------------------------------------------
	
	* Filename:			  banner.scss
	* Description: 		Define the banner interface & import layouts using the interface.
	* Version:				1.0.0 (2019-01-26)
	* Author:				  Jordan Pinski
	
------------------------------------------------------------*/

// Import layouts using the interface
@import 'layouts/banner/banner_1.scss';
@import 'layouts/banner/banner_2.scss';

// Define interface
.banner {

  &.banner--top {
    &.fixed {}
  }

  &.banner--bottom {
    &.fixed {}
  }

  .banner__title {}
  .banner__text {}
  .banner__image {}
  .banner__cta {}
  .banner__close-button {}
}

.banner {
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  width: 100%;

  &.banner--top {
    box-shadow: 0 6px 12px rgba(black, 0.1);
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3880ff+0,67a7ff+100 */
    background: #3880ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3880ff 0%, #67a7ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3880ff 0%,#67a7ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3880ff 0%,#67a7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3880ff', endColorstr='#67a7ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  
  
    &.fixed {
      position: fixed !important;
      top: 0;
      left: 0;
    }
  }

  &.banner--bottom {
    box-shadow: 0 -6px 12px rgba(black, 0.1);
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3880ff+0,67a7ff+100 */
    background: #3880ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #3880ff 0%, #67a7ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #3880ff 0%,#67a7ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #3880ff 0%,#67a7ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3880ff', endColorstr='#67a7ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */  

    &.fixed {
      position: fixed;
      bottom: 0;
      left: 0;
    }
  }

  .banner__close-button {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    @include font-size(22);
    
    i {
      color: white;
      transition: color 0.15s ease;
    }

    &:hover {
      i { color: rgb(80, 80, 80); }
    }

    @include breakpoint('md') {
      right: 0.5rem;
    }
  }

  p {
    margin: 0;
    color: white;
    font-family: $font-primary;
    @include font-size(13);
  }

  a {
    color: white;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}