// Header
.header-main {
  position: relative;
  z-index: 40;
  box-shadow: 0 6px 12px rgba(black,0.05);
  
  &.fixed {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
  }
}

// Menu
.menu {

  // Desktop Style override
  &.menu--desktop {

    ul {
      display: inline-flex;
      justify-content: space-between;

      // Position the last list items dropdown to the right instead of the left.
      li:last-of-type {
        ul {
          right: 0;
          left: initial;
        }
      }
    }
  }

  // Mobile style override
  &.menu--mobile {
    position: fixed;
    z-index: 30;
    top: 0;
    right: 0;
    height: 100%;
    width: 280px;
    padding: 10px;
    background: white;
    transform: translateX(101%);
    transition: all 0.25s ease-in-out;
    box-shadow: -6px 0 12px rgba(black, 0.05);

    &.active {
      transform: translateX(0);
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;

      li[data-depth="0"] {
        position: relative;

        &.parent:hover {
          ul { display: block; }
        }

        .icon {
          position: absolute;
          top: 14px;
          right: 10px;
          display: flex;
          justify-content: center;
          align-items:center;
          cursor: pointer;
          padding: 0 10px;
          font-size: 20px;
        }

        // Dropdown depth 1
        ul {
          // display: none;
          max-height: 0;
          overflow: hidden;
          position: relative;
          bottom: unset;
          left: unset;
          width: 100%;
          transform: translateY(0);
          border: none;
          box-shadow: none;
          transition: all 0.15s linear;

          &.active {  }
        }
      }
    }
  }

  // Menu styles base
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    // List style base
    li {
      position: relative;

      a {
        color: rgb(40,40,40);
        font-size: 14px;
        font-weight: bold;
      }

    }

    // List Toggle style base 
    li[data-depth="0"] {
      padding: 10px;
      margin: 0 5px;

      &.parent:hover {
        ul { display: block; }
      }

      .icon { margin-left: 4px; font-size: inherit; }

      // Dropdown depth 1
      ul {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 10;
        bottom: 5px;
        left: 0;
        width: 240px;
        transform: translateY(100%);
        background: white;
        border: 1px solid rgba(40,40,40, 0.2);
        box-shadow: 0 6px 12px rgba(black, 0.05);
        padding: 0;

        &.active { display: flex; }

        li {
          padding: 0.5rem 1rem;
        }
      }
    }

    li[data-depth="1"] {

      // Dropdown depth 2
      ul {

      }
    }
  }
}

.mobile-toggle {
  text-align: right;
  font-size: 24px;
  cursor: pointer;

  &.mobile-toggle--mobile {
    padding-right: 20px;
    margin-bottom: 20px;
  }
}