/* ---------------------------------------------------------
	
	* Filename:			  base.scss
	* Description: 		Defines the base styling.
	* Version:				1.0.0 (2019-01-28)
	* Author:				  Jordan Pinski
	
------------------------------------------------------------*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  height: 100%;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  font-family: $font-primary;
  color: $font-color;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body > form#Form { overflow-x: hidden; }

h1, h2, h3, h4, h5 {
	font-family: $font-primary;
}

h1 {
  @include font-baseline(48, 52);
}

h2 {
  @include font-baseline(38, 48);
}

h3 {
  @include font-baseline(26, 36);
}

h4 {
  @include font-baseline(22, 28);
}

h5 {
  @include font-baseline(18, 24);
}

p {
  margin: 0 0 1.5rem;
}

ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1.5rem;
}



// Sanitation
//–––––––––––––––––––––––––––––––––––––––––––––––––

ul ul,
ol ol,
ul ol,
ol ul {
  margin:0;
}

b,
strong,
em,
small,
code {
  line-height: 1;
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -.4em;
}

sub {
  top: .4em;
}

main div.container {
  margin-bottom: 0 !important;
}

// Links
//–––––––––––––––––––––––––––––––––––––––––––––––––

a {
  color: $link-color;
  text-decoration: none;
  transition: .25s ease-in-out all;

  &:hover {
    color: darken($link-color, 5%);
    text-decoration: none;
  }
}

// hr and pre
//–––––––––––––––––––––––––––––––––––––––––––––––––

hr {
  display: block;
  height: 1px;
  width: 25%;
  border: 0;
  border-top: 1px solid white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
}

pre {
  background: $light-grey;
  padding: 10px 15px;
}